<p>
  page-welcome works!
</p>
<div class="w3-row-padding">
  <div class="w3-col s3 w3-container">
      <app-border-dynamic>
          <app-picture-gameplays></app-picture-gameplays>
      </app-border-dynamic>
  </div>
</div>
<div class="w3-row-padding">
    <div class="w3-col s3 w3-container">
        <app-border-dynamic>
          <app-picture-in-progress></app-picture-in-progress>
        </app-border-dynamic>
    </div>
</div>
<div class="w3-row-padding">
    <div class="w3-col s3 w3-container">
        <app-border-dynamic>
          <app-picture-ideas></app-picture-ideas>
        </app-border-dynamic>
    </div>
</div>

