<p>
  page-gameplays works!
</p>

<div Class="row-padding w3-center">
  <span>gameplay 1</span>
</div>
<div class="w3-row-padding">
  <div class="w3-col s10 w3-container">
    <app-first-gameplay></app-first-gameplay>
  </div>
</div>
  <app-download title="gameplay 1 download">
  </app-download>

<div Class="row-padding w3-center">
  <span>gameplay 2</span>
</div>
<div class="w3-row-padding">
  <div class="w3-col s10 w3-container">
    <app-second-gameplay></app-second-gameplay>
  </div>
    <app-download title="gameplay 2 download">
    </app-download>
</div>
